<ul id="navigation">
    <li><a href="?/pagez/audio" id="audioBtn"><img src="./public/docs/navButtons/audio_button.png" >Audio</a></li>
    <li><a href="?/pagez/video/" id="videoBtn"><img src="./public/docs/navButtons/video_button.png" >Video</a></li>
    <li><a href="?/pagez/clients/" id="clientsBtn"><img src="./public/docs/navButtons/clients_button.png" >Clients</a></li>
    <li><a href="?/pagez/photos/" id="photosBtn"><img src="./public/docs/navButtons/photos_button.png">Photos</a></li>
</li>
</ul>