<ul id="navigation">
    <li rel="pagez/audio"><a href="?/pagez/audio" id="audioBtn"><img src="./public/docs/navButtons/audio_button.png" ></a></li>
    <li rel="pagez/video"><a href="?/pagez/video/" id="videoBtn"><img src="./public/docs/navButtons/video_button.png" ></a></li>
    <li rel="pagez/clients"><a href="?/pagez/clients/" id="clientsBtn"><img src="./public/docs/navButtons/clients_button.png" ></a></li>
    <li rel="pagez/photos"><a href="?/pagez/photos/" id="photosBtn"><img src="./public/docs/navButtons/photos_button.png"></a></li>
</li>
</ul>