<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Michael Lockwood Crouch - Michaellockwoodcrouch.com</title>
    <link rel="alternate" type="application/atom+xml" href="@root_path/?/feed/">
    <link rel="stylesheet" href="@root_path/public/docs/css/screen.css" type="text/css" media="screen"> 
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script><script src="@root_path/public/docs/js/jquery.js" type="text/javascript" charset="utf-8"></script>




 <!--begin the fanciness-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="@root_path/public/docs/fancybox/source/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen" />
    <script type="text/javascript" src="@root_path/public/docs/fancybox/source/jquery.fancybox.pack.js?v=2.1.4"></script>
    <link rel="stylesheet" href="@root_path/public/docs/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
  <script type="text/javascript" src="@root_path/public/docs/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>


<script src="@root_path/public/docs/js/audiojs/audio.min.js"></script>




<script type="text/javascript">
  $(document).ready(function() {
    $(".fancybox").fancybox();
  });
</script>

  

  </head>

  <body>

  

 <div id="container">
      <h1 class="col three">
        <div id="logo">
          <a href="./">
            <img src="./public/images/logo_michaellockwood.png" class="headerLogo">

          </a>
        </div>
         </h1>

<!--         <p class="date col one">&para;</p> -->
        <div class="description col six">
          <h2 class="col six"><a href="@root_path">@title</a></h2>
          :navigation

          :images
          @content


          

        </div>
      </div>
      <hr>

    </div>
     <script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>

 
           
  </body>
</html>